body, html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    text-align: left;
    margin: 1% 2% 0%;
}

@media(max-width: 320px) {
    .logo {
        margin: 0% 22%;
    }
}

.form {
    text-align: center;
    margin: -4% 35% 0%;
}

.form, input{
    width: 350px;
}

@media(max-width: 320px){
    .form {
     margin: 0% 10%;
    }
    .form,input {
        width: 250px;
    }
 }
 
.bar {
    background-color: black;
    color: black;
    padding: 5px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

@media(max-width: 1200px){
    .bar {
        width: 1000px;
    }
}

@media(max-width: 1024px){
    .bar {
        width: 700px;
    }
}

@media(max-width: 768px){
    .bar {
        width: 400px;
    }
}

@media(max-width: 425px){
    .bar {
        width: 320px;
    }
}

.banner-1 {
    text-align: center;
    margin: 1% 1% 0;
    max-width: 100%;
}

@media(max-width: 320px){
    .banner-2 {
        margin: 0% -1%;
    }
}

.content {
    max-width: 100%;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2. 5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}   

.sidebar {
    border-right: solid 1px #cdcdcc;
    width: 200px;
}

@media(max-width: 320px) {
    .content {
        flex-wrap: wrap;
    }
    .sidebar, .content, .anchors {
        display: block;
    } 
    .sidebar {
        border: none;
    } 
}
    
ul {
    list-style: none;
    padding-left: 5px;
}

a {
    color: white;
    margin: 0% 9%;
}

.conteudo {
    margin: 10% 5%; 
}

.menu {
    margin: -5% -6%;
}

.voltar {
    margin: 0% 90%;
}

.anchors {
    border-left: solid 1px #cdcdcc;
    padding-left: solid 1px #cdcdcd;
    width: 300px;
}

.got {
    text-align:center;
}

.gdt {
    text-align: center;
    font-size: 12px;
    margin: -7%;
}

.logogot {
    text-align: center;
    margin: 3%;
}

.table {
    text-align: left;
    margin: 1% 4%;
    font-size:12px;
    border: 1px;
}

.footer {
    min-height: 10px;
    border-top: solid 1px #cdcdcd;
    font-size: 12px;
}

@media(max-width: 400px){
    .footer {
        width: 320px;
    }
} 

.wikipedia {
    text-align:right;
    margin: -4% 10%;
}

@media(max-width: 320px){
   .wikipedia {
      display: none;
   }
}

.mediawiki{
    text-align:right;
    margin: 1% 1%;
}

@media(max-width: 320px){
    .mediawiki {
        display: none;
    }
}